html,
body {
  background: #1c1c1c;
  font-family: "Inter", sans-serif;
}

header {
  position: relative;
}

.header {
  position: absolute;
  display: flex;
  justify-content: space-around;
  bottom: 0;
  width: 100%;
  height: 100%;
  align-items: center;
}

a,
h1 {
  color: white;
}

h1 {
  font-size: 2.8em;
  font-weight: 800;
  letter-spacing: -1.5px;
}

a {
  font-size: 0.9em;
}

.container {
  width: 100%;
  margin: 0 auto;
}

#hero {
  position: relative;
  display: block;
  height: 150px;
  width: 100%;
  object-fit: cover;
  background: rgba(150, 150, 150);
}

.img-cover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

#watchlist-btn {
  margin-top: 100px;
}
.search {
  margin: 0 auto;
  width: 100%;
  z-index: 1;
}

#search-el,
#search-btn {
  border-bottom: 1px solid grey !important;
}

#search-el {
  width: 100%;
  padding: 1.5em 3.2em;
  font-size: 0.9rem;
  margin: 0;
  appearance: none;
  outline: none;
  border: 0;
  background: transparent url("/images/search.png") no-repeat 16px 12px;
  background-color: rgb(255, 255, 255);
  background-size: 18px;
}

#search-btn {
  padding: 1.5em 2.5em;
  background: white;
  border: none;
  color: #363636;
  width: 100%;
  cursor: pointer;
}

nav {
  position: relative;
}

main,
.start {
  height: 70vh;
}

main {
  background: white;
  position: relative;
}

.data {
  background: white;
}

.start {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.start h3 {
  color: rgb(189, 189, 189);
  text-align: center;
}

.movies {
  display: flex;
  padding: 30px 0;
  margin: 0 12px;
  border-bottom: 1px solid rgb(214, 214, 214);
}

.poster {
  height: 150px;
  width: 100px;
  object-fit: cover;
}

.movie-title {
  font-size: 1.2rem;
  font-weight: 500;
}

.movie-rating,
.movie-runtime,
.movie-genre,
.watchlist {
  font-size: 0.8rem;
}

.movie-rating {
  padding-top: 6px;
  padding-left: 30px;
}

.watchlist {
  padding-left: 8px;
}

.flex-container {
  margin-top: -23px;
}

.flex-container,
.movie-genre {
  padding-left: 18px;
}

span {
  display: flex;
  margin-bottom: -17px;
}
.movie-plot {
  font-size: 0.9rem;
  color: #828282;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.icon-add,
.watchlist-page {
  width: 20px;
  cursor: pointer;
  margin: 0.5em 0 0 0.6em;
  background-image: url("/images/icon-add.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.watchlist-page {
  display: flex;
  align-items: center;
  height: 20px;
  width: 20px;
  margin: 0 auto;
}

.icon-remove {
  background-image: url("/images/icon-remove.png");
}

.start-watchlist {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  margin: 0;
}

.start-watchlist h4 {
  padding: 0;
}

@media (min-width: 400px) {
  .container {
    width: 550px;
    margin-top: 50px;
  }

  h4 {
    padding-top: 5px;
  }

  #hero {
    height: 200px;
  }
  #watchlist-btn {
    margin-top: 20px;
  }
  .search {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: -18px;
  }

  #search-el,
  #search-btn {
    border: 1px solid grey !important;
  }
  #search-el {
    padding: 0.7em 3.2em;
    width: 340px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-right: 1px solid rgb(37, 37, 37);
  }

  #search-btn {
    padding: 0.7em 2.5em;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-left: none !important;
    width: auto;
  }
  .movies {
    margin: 0 30px;
  }
  .flex-container,
  .movie-genre {
    padding-left: 22px;
  }
  .flex-container {
    margin-top: 0;
  }
  .icon-add {
    margin: 0.5em 0 0 4em;
  }
  .movie-title {
    margin-top: 0;
  }
  .movie-rating {
    margin: -5px 0;
  }
}
